<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Appointments.aspx.cs" Inherits="Appointments" %>

<%@ Register TagPrefix="so" Namespace="SuperOffice.Web.UI.Controls" Assembly="SuperOffice.Web.UI.Controls" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
  <title>Appointments</title>
</head>
  <body>
    <form id="form1" runat="server">
      <div style="text-align: center">
        <div style="position: absolute; top: 25px; left: 400px; white-space: nowrap; ">
          <asp:Label ID="LabelPage" runat="server" Text="Appointments" Font-Bold="True" />
        </div>
        <div style="position: absolute; top: 75px; left: 250px; white-space: nowrap; ">
          <asp:Label ID="lblAssoicate" runat="server" Text="Associate ID" Font-Bold="True" />
        </div>
        <div style="position: absolute; top: 75px; left: 350px">
          <so:SoTextBox Width="184px" TabIndex="1" MaxLength="60" runat="server" ID="assoicateID" />
        </div>
        <div style="position: absolute; top: 95px; left: 250px; white-space: nowrap; ">
          <asp:Label ID="lblActivedate" runat="server" Text="Active Date" Font-Bold="True" />
        </div>
        <div style="position: absolute; top: 95px; left: 350px">
          <so:SoTextBox Width="184px" TabIndex="1" MaxLength="60" runat="server" ID="activeDate" />
        </div>
        <div style="position: absolute; top: 115px; left: 250px; white-space: nowrap; ">
          <asp:Label ID="lblEndDate" runat="server" Text="End Date" Font-Bold="True" />
        </div>
        <div style="position: absolute; top: 115px; left: 350px; white-space: nowrap">
          <so:SoTextBox Width="184px"  MaxLength="60" ID="endDate" TabIndex="1" runat="server" />
        </div>
        <div style="position: absolute; Top: 170px; right: 20px; width: 80px; left: 470px; ">
          <so:SoButton ID="datesBtn" runat="server" TabIndex="4" Text="Submit" Font-Bold="True" OnClick="datesBtn_Click" />
        </div>
        <div style="position: absolute; Top: 210px; right: 20px; width: 80px; left: 350px; ">
          <table id="tblid" runat="server" style="width: 250px; ">
            <tr>
              <td style="font-weight: bold">Date</td>
              <td style="font-weight: bold">Day</td>
            </tr>
          </table>
        </div>
      </div>
    </form>
  </body>
</html>