<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" %> 

<%@ Register TagPrefix="so" Namespace="SuperOffice.Web.UI.Controls" Assembly="SuperOffice.Web.UI.Controls" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
  <head id="Head1" runat="server">
    <title>Login Page</title>
  </head>
  <body style="text-align: left">
    <form id="form1" runat="server">
      <asp:Login ID="soLogin" runat="server">
        <LayoutTemplate>
          <div style="position: absolute; top: 25px; left: 400px; white-space: nowrap; ">
            <asp:Label ID="LabelPage" runat="server" Text="Login Screen" Font-Bold="True" Font-Size="Large" />
          </div>
          <div style="position: absolute; top: 75px; left: 250px; white-space: nowrap; ">
            <asp:Label ID="lblUsername" runat="server" Text="User Name" Font-Bold="True" />
          </div>
          <div style="position: absolute; top: 75px; left: 350px">
            <so:SoTextBox Width="184px" CssClassEditMode="LoginBox" TabIndex="1" MaxLength="60"
              runat="server" ID="UserName" />
            <asp:RequiredFieldValidator ID="UsernameValidator" ControlToValidate="UserName" runat="Server">*</asp:RequiredFieldValidator>
          </div>
          <div style="position: absolute; top: 95px; left: 250px; white-space: nowrap; ">
            <asp:Label ID="lblPassword" runat="server" Text="Password" Font-Bold="True" />
          </div>
          <div style="position: absolute; top: 95px; left: 350px">
            <so:SoTextBox Width="184px" CssClassEditMode="LoginBox" TextMode="Password" MaxLength="30" ID="Password" TabIndex="2" runat="server" />
          </div>
          <div style="position: absolute; Top: 150px; right: 20px; width: 80px; left: 470px; ">
            <so:SoButton ID="LoginBtn" runat="server" TabIndex="4"  Text="Submit"  Font-Bold="True" OnClick="LoginBtn_Click" />
          </div>
        </LayoutTemplate>
      </asp:Login>
    </form>
  </body>
</html>