<%@ Page Language="C\#" AutoEventWireup="true"  CodeFile="Time2Holiday.aspx.cs" Inherits="Time2Holiday" %>

<%@ Register TagPrefix="so" Namespace="SuperOffice.Web.UI.Controls" Assembly="SuperOffice.Web.UI.Controls" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >

  <head runat="server">
    <%--Add the default SO style sheet--%>
    <link href="App\_Themes/Six/DefaultStyles.css" rel="stylesheet" type="text/css" />
    <title>Time-To-Holiday</title>
  </head>

  <body style="text-align: left">
    <form id="form1" runat="server"> 
      <asp:Panel ID="soPanel" runat="server">
        <div style="position: absolute; top: 25px; left: 400px; white-space: nowrap; ">
          <so:SoTextBox ID="txtPage" runat="server" Text="Time-2-Holiday" EditMode="false" CssClass="SoTextBoxHeading" />
        </div>
        <div style="position: absolute; top: 75px; left: 250px; white-space: nowrap; ">
          <so:SoTextBox ID="txtCurrDate" runat="server" text="Current Date:- " EditMode="false" CssClass="SoTextBoxImportant"/>
        </div>
        <div style="position: absolute; top: 75px; left: 400px; white-space: nowrap; ">
          <so:SoTextBox ID="txtCurrDateValue" runat="server" EditMode="false" text="" CssClass="SoTextBox"  />
        </div>
        <div style="position: absolute; top: 100px; left: 250px; white-space: nowrap; ">
          <so:SoTextBox ID="txtChHoli" runat="server" EditMode="false" Text="Choose Holiday" CssClass="SoTextBoxImportant" />
        </div>
        <div style="position: absolute; top: 100px; left: 400px; white-space: nowrap; ">
          <so:SoDropDownList ID="ddlHoliday" runat="server" CssClass="sodropdownlist"/>
       </div>
        <div style="position: absolute; Top: 180px; right: 30px; width: 80px; left: 400px; ">
          <so:SoButton ID="LoginBtn" runat="server" TabIndex="4"  Text="Days"  Font-Bold="True" OnClick="LoginBtn\_Click"/>
        </div>
       <div style="position: absolute; top: 220px; left: 250px; white-space: nowrap; ">
          <so:SoTextBox ID="txtNumberOfDays" runat="server" text="Number of Days to Holiday:- " EditMode="false" CssClass="SoTextBoxHeading2"/>
        </div>
        <div style="position: absolute; top: 220px; left: 450px; white-space: nowrap; ">
          <so:SoTextBox ID="txtNumberOfDaysValue" runat="server" text="" EditMode="false" CssClass="SoTextBoxHeading2" />
        </div>
      </asp:Panel> 
    </form>
  </body>
</html>