### YamlMime:ManagedReference
items:
- uid: SuperOffice.Configuration.ConfigFile.Scripting
  commentId: T:SuperOffice.Configuration.ConfigFile.Scripting
  id: ConfigFile.Scripting
  parent: SuperOffice.Configuration
  children:
  - SuperOffice.Configuration.ConfigFile.Scripting.EnableScripting
  - SuperOffice.Configuration.ConfigFile.Scripting.MaxTimeouts
  - SuperOffice.Configuration.ConfigFile.Scripting.ScriptPath
  - SuperOffice.Configuration.ConfigFile.Scripting.TimeoutLimit
  langs:
  - csharp
  - vb
  name: ConfigFile.Scripting
  nameWithType: ConfigFile.Scripting
  fullName: SuperOffice.Configuration.ConfigFile.Scripting
  type: Class
  source:
    path: SOCore
    isExternal: true
  assemblies:
  - SOCore
  namespace: SuperOffice.Configuration
  summary: "\n\n"
  syntax:
    content: public static class Scripting
    content.vb: Public Module Scripting
  inheritance:
  - System.Object
  inheritedMembers:
  - System.Object.ToString
  - System.Object.Equals(System.Object)
  - System.Object.Equals(System.Object,System.Object)
  - System.Object.ReferenceEquals(System.Object,System.Object)
  - System.Object.GetHashCode
  - System.Object.GetType
  - System.Object.MemberwiseClone
  modifiers.csharp:
  - public
  - static
  - class
  modifiers.vb:
  - Public
  - Module
- uid: SuperOffice.Configuration.ConfigFile.Scripting.ScriptPath
  commentId: P:SuperOffice.Configuration.ConfigFile.Scripting.ScriptPath
  id: ScriptPath
  parent: SuperOffice.Configuration.ConfigFile.Scripting
  langs:
  - csharp
  - vb
  name: ScriptPath
  nameWithType: ConfigFile.Scripting.ScriptPath
  fullName: SuperOffice.Configuration.ConfigFile.Scripting.ScriptPath
  type: Property
  source:
    path: SOCore
    isExternal: true
  assemblies:
  - SOCore
  namespace: SuperOffice.Configuration
  summary: "\n\n"
  syntax:
    content: public static string ScriptPath { get; set; }
    parameters: []
    return:
      type: System.String
    content.vb: Public Shared Property ScriptPath As String
  overload: SuperOffice.Configuration.ConfigFile.Scripting.ScriptPath*
  modifiers.csharp:
  - public
  - static
  - get
  - set
  modifiers.vb:
  - Public
  - Shared
- uid: SuperOffice.Configuration.ConfigFile.Scripting.EnableScripting
  commentId: P:SuperOffice.Configuration.ConfigFile.Scripting.EnableScripting
  id: EnableScripting
  parent: SuperOffice.Configuration.ConfigFile.Scripting
  langs:
  - csharp
  - vb
  name: EnableScripting
  nameWithType: ConfigFile.Scripting.EnableScripting
  fullName: SuperOffice.Configuration.ConfigFile.Scripting.EnableScripting
  type: Property
  source:
    path: SOCore
    isExternal: true
  assemblies:
  - SOCore
  namespace: SuperOffice.Configuration
  summary: "\n\n"
  syntax:
    content: public static bool EnableScripting { get; set; }
    parameters: []
    return:
      type: System.Boolean
    content.vb: Public Shared Property EnableScripting As Boolean
  overload: SuperOffice.Configuration.ConfigFile.Scripting.EnableScripting*
  modifiers.csharp:
  - public
  - static
  - get
  - set
  modifiers.vb:
  - Public
  - Shared
- uid: SuperOffice.Configuration.ConfigFile.Scripting.TimeoutLimit
  commentId: P:SuperOffice.Configuration.ConfigFile.Scripting.TimeoutLimit
  id: TimeoutLimit
  parent: SuperOffice.Configuration.ConfigFile.Scripting
  langs:
  - csharp
  - vb
  name: TimeoutLimit
  nameWithType: ConfigFile.Scripting.TimeoutLimit
  fullName: SuperOffice.Configuration.ConfigFile.Scripting.TimeoutLimit
  type: Property
  source:
    path: SOCore
    isExternal: true
  assemblies:
  - SOCore
  namespace: SuperOffice.Configuration
  summary: "\n\n"
  syntax:
    content: public static int TimeoutLimit { get; set; }
    parameters: []
    return:
      type: System.Int32
    content.vb: Public Shared Property TimeoutLimit As Integer
  overload: SuperOffice.Configuration.ConfigFile.Scripting.TimeoutLimit*
  modifiers.csharp:
  - public
  - static
  - get
  - set
  modifiers.vb:
  - Public
  - Shared
- uid: SuperOffice.Configuration.ConfigFile.Scripting.MaxTimeouts
  commentId: P:SuperOffice.Configuration.ConfigFile.Scripting.MaxTimeouts
  id: MaxTimeouts
  parent: SuperOffice.Configuration.ConfigFile.Scripting
  langs:
  - csharp
  - vb
  name: MaxTimeouts
  nameWithType: ConfigFile.Scripting.MaxTimeouts
  fullName: SuperOffice.Configuration.ConfigFile.Scripting.MaxTimeouts
  type: Property
  source:
    path: SOCore
    isExternal: true
  assemblies:
  - SOCore
  namespace: SuperOffice.Configuration
  summary: "\n\n"
  syntax:
    content: public static int MaxTimeouts { get; set; }
    parameters: []
    return:
      type: System.Int32
    content.vb: Public Shared Property MaxTimeouts As Integer
  overload: SuperOffice.Configuration.ConfigFile.Scripting.MaxTimeouts*
  modifiers.csharp:
  - public
  - static
  - get
  - set
  modifiers.vb:
  - Public
  - Shared
references:
- uid: SuperOffice.Configuration
  commentId: N:SuperOffice.Configuration
  isExternal: true
  name: SuperOffice.Configuration
  nameWithType: SuperOffice.Configuration
  fullName: SuperOffice.Configuration
- uid: System.Object
  commentId: T:System.Object
  parent: System
  isExternal: true
  name: Object
  nameWithType: Object
  fullName: System.Object
- uid: System.Object.ToString
  commentId: M:System.Object.ToString
  parent: System.Object
  isExternal: true
  name: ToString()
  nameWithType: Object.ToString()
  fullName: System.Object.ToString()
  spec.csharp:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object)
  commentId: M:System.Object.Equals(System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object)
  nameWithType: Object.Equals(Object)
  fullName: System.Object.Equals(System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object,System.Object)
  commentId: M:System.Object.Equals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object, Object)
  nameWithType: Object.Equals(Object, Object)
  fullName: System.Object.Equals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.ReferenceEquals(System.Object,System.Object)
  commentId: M:System.Object.ReferenceEquals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: ReferenceEquals(Object, Object)
  nameWithType: Object.ReferenceEquals(Object, Object)
  fullName: System.Object.ReferenceEquals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetHashCode
  commentId: M:System.Object.GetHashCode
  parent: System.Object
  isExternal: true
  name: GetHashCode()
  nameWithType: Object.GetHashCode()
  fullName: System.Object.GetHashCode()
  spec.csharp:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetType
  commentId: M:System.Object.GetType
  parent: System.Object
  isExternal: true
  name: GetType()
  nameWithType: Object.GetType()
  fullName: System.Object.GetType()
  spec.csharp:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.MemberwiseClone
  commentId: M:System.Object.MemberwiseClone
  parent: System.Object
  isExternal: true
  name: MemberwiseClone()
  nameWithType: Object.MemberwiseClone()
  fullName: System.Object.MemberwiseClone()
  spec.csharp:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System
  commentId: N:System
  isExternal: true
  name: System
  nameWithType: System
  fullName: System
- uid: SuperOffice.Configuration.ConfigFile.Scripting.ScriptPath*
  commentId: Overload:SuperOffice.Configuration.ConfigFile.Scripting.ScriptPath
  isExternal: true
  name: ScriptPath
  nameWithType: ConfigFile.Scripting.ScriptPath
  fullName: SuperOffice.Configuration.ConfigFile.Scripting.ScriptPath
- uid: System.String
  commentId: T:System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: SuperOffice.Configuration.ConfigFile.Scripting.EnableScripting*
  commentId: Overload:SuperOffice.Configuration.ConfigFile.Scripting.EnableScripting
  isExternal: true
  name: EnableScripting
  nameWithType: ConfigFile.Scripting.EnableScripting
  fullName: SuperOffice.Configuration.ConfigFile.Scripting.EnableScripting
- uid: System.Boolean
  commentId: T:System.Boolean
  parent: System
  isExternal: true
  name: Boolean
  nameWithType: Boolean
  fullName: System.Boolean
- uid: SuperOffice.Configuration.ConfigFile.Scripting.TimeoutLimit*
  commentId: Overload:SuperOffice.Configuration.ConfigFile.Scripting.TimeoutLimit
  isExternal: true
  name: TimeoutLimit
  nameWithType: ConfigFile.Scripting.TimeoutLimit
  fullName: SuperOffice.Configuration.ConfigFile.Scripting.TimeoutLimit
- uid: System.Int32
  commentId: T:System.Int32
  parent: System
  isExternal: true
  name: Int32
  nameWithType: Int32
  fullName: System.Int32
- uid: SuperOffice.Configuration.ConfigFile.Scripting.MaxTimeouts*
  commentId: Overload:SuperOffice.Configuration.ConfigFile.Scripting.MaxTimeouts
  isExternal: true
  name: MaxTimeouts
  nameWithType: ConfigFile.Scripting.MaxTimeouts
  fullName: SuperOffice.Configuration.ConfigFile.Scripting.MaxTimeouts
