### YamlMime:ManagedReference
items:
- uid: SuperOffice.Configuration.ConfigFile.Mail
  commentId: T:SuperOffice.Configuration.ConfigFile.Mail
  id: ConfigFile.Mail
  parent: SuperOffice.Configuration
  children: []
  langs:
  - csharp
  - vb
  name: ConfigFile.Mail
  nameWithType: ConfigFile.Mail
  fullName: SuperOffice.Configuration.ConfigFile.Mail
  type: Class
  source:
    path: SoCore
    isExternal: true
  assemblies:
  - SoCore
  namespace: SuperOffice.Configuration
  syntax:
    content: 'public static class Mail : Object'
    content.vb: >-
      Public Module Mail

          Inherits Object
  inheritance:
  - System.Object
  modifiers.csharp:
  - public
  - static
  - class
  modifiers.vb:
  - Public
  - Module
references:
- uid: SuperOffice.Configuration
  commentId: N:SuperOffice.Configuration
  isExternal: true
  name: SuperOffice.Configuration
  nameWithType: SuperOffice.Configuration
  fullName: SuperOffice.Configuration
- uid: System.Object
  commentId: T:System.Object
  parent: System
  isExternal: true
  name: Object
  nameWithType: Object
  fullName: System.Object
- uid: System
  commentId: N:System
  isExternal: true
  name: System
  nameWithType: System
  fullName: System
