### YamlMime:ManagedReference
items:
- uid: SuperOffice.Data.ApplicationType
  commentId: T:SuperOffice.Data.ApplicationType
  id: ApplicationType
  parent: SuperOffice.Data
  children:
  - SuperOffice.Data.ApplicationType.ExtApplication
  - SuperOffice.Data.ApplicationType.ExtURL
  - SuperOffice.Data.ApplicationType.IntegratedHTML
  - SuperOffice.Data.ApplicationType.IntegratedURL
  - SuperOffice.Data.ApplicationType.Unknown
  - SuperOffice.Data.ApplicationType.URL
  - SuperOffice.Data.ApplicationType.value__
  langs:
  - csharp
  - vb
  name: ApplicationType
  nameWithType: ApplicationType
  fullName: SuperOffice.Data.ApplicationType
  type: Class
  source:
    path: SoCore
    isExternal: true
  assemblies:
  - SoCore
  namespace: SuperOffice.Data
  summary: "\n"
  syntax:
    content: 'public sealed class ApplicationType : Enum'
    content.vb: >-
      Public NotInheritable Class ApplicationType

          Inherits



           Enum
  inheritance:
  - System.Object
  extensionMethods:
  - SuperOffice.Data.ApplicationType.EnumUtil.MapEnums``2
  - SuperOffice.Data.ApplicationType.SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums``2
  modifiers.csharp:
  - public
  - sealed
  - class
  modifiers.vb:
  - Public
  - NotInheritable
  - Class
- uid: SuperOffice.Data.ApplicationType.value__
  commentId: F:SuperOffice.Data.ApplicationType.value__
  id: value__
  parent: SuperOffice.Data.ApplicationType
  langs:
  - csharp
  - vb
  name: value__
  nameWithType: ApplicationType.value__
  fullName: SuperOffice.Data.ApplicationType.value__
  type: Field
  source:
    path: SoCore
    isExternal: true
  assemblies:
  - SoCore
  namespace: SuperOffice.Data
  syntax:
    content: public int value__
    return:
      type: System.Int32
    content.vb: Public value__ As Integer
  modifiers.csharp:
  - public
  modifiers.vb:
  - Public
- uid: SuperOffice.Data.ApplicationType.Unknown
  commentId: F:SuperOffice.Data.ApplicationType.Unknown
  id: Unknown
  parent: SuperOffice.Data.ApplicationType
  langs:
  - csharp
  - vb
  name: Unknown
  nameWithType: ApplicationType.Unknown
  fullName: SuperOffice.Data.ApplicationType.Unknown
  type: Field
  source:
    path: SoCore
    isExternal: true
  assemblies:
  - SoCore
  namespace: SuperOffice.Data
  summary: "\nUnknown - used when initializing \n"
  syntax:
    content: public const ApplicationType Unknown
    return:
      type: SuperOffice.Data.ApplicationType
    content.vb: Public Const Unknown As ApplicationType
  modifiers.csharp:
  - public
  - const
  modifiers.vb:
  - Public
  - Const
- uid: SuperOffice.Data.ApplicationType.ExtApplication
  commentId: F:SuperOffice.Data.ApplicationType.ExtApplication
  id: ExtApplication
  parent: SuperOffice.Data.ApplicationType
  langs:
  - csharp
  - vb
  name: ExtApplication
  nameWithType: ApplicationType.ExtApplication
  fullName: SuperOffice.Data.ApplicationType.ExtApplication
  type: Field
  source:
    path: SoCore
    isExternal: true
  assemblies:
  - SoCore
  namespace: SuperOffice.Data
  summary: "\n1: EXE file of some kind, corresponds to the &apos;External application&apos; radio button\n"
  syntax:
    content: public const ApplicationType ExtApplication
    return:
      type: SuperOffice.Data.ApplicationType
    content.vb: Public Const ExtApplication As ApplicationType
  modifiers.csharp:
  - public
  - const
  modifiers.vb:
  - Public
  - Const
- uid: SuperOffice.Data.ApplicationType.IntegratedHTML
  commentId: F:SuperOffice.Data.ApplicationType.IntegratedHTML
  id: IntegratedHTML
  parent: SuperOffice.Data.ApplicationType
  langs:
  - csharp
  - vb
  name: IntegratedHTML
  nameWithType: ApplicationType.IntegratedHTML
  fullName: SuperOffice.Data.ApplicationType.IntegratedHTML
  type: Field
  source:
    path: SoCore
    isExternal: true
  assemblies:
  - SoCore
  namespace: SuperOffice.Data
  summary: "\n2: HTML output from someplace (does not seem to be implemented in SOCRM)\n"
  syntax:
    content: public const ApplicationType IntegratedHTML
    return:
      type: SuperOffice.Data.ApplicationType
    content.vb: Public Const IntegratedHTML As ApplicationType
  modifiers.csharp:
  - public
  - const
  modifiers.vb:
  - Public
  - Const
- uid: SuperOffice.Data.ApplicationType.IntegratedURL
  commentId: F:SuperOffice.Data.ApplicationType.IntegratedURL
  id: IntegratedURL
  parent: SuperOffice.Data.ApplicationType
  langs:
  - csharp
  - vb
  name: IntegratedURL
  nameWithType: ApplicationType.IntegratedURL
  fullName: SuperOffice.Data.ApplicationType.IntegratedURL
  type: Field
  source:
    path: SoCore
    isExternal: true
  assemblies:
  - SoCore
  namespace: SuperOffice.Data
  summary: "\n3: URL, content to be shown using integrated browser (does not seem to be implemented in SOCRM)\n"
  syntax:
    content: public const ApplicationType IntegratedURL
    return:
      type: SuperOffice.Data.ApplicationType
    content.vb: Public Const IntegratedURL As ApplicationType
  modifiers.csharp:
  - public
  - const
  modifiers.vb:
  - Public
  - Const
- uid: SuperOffice.Data.ApplicationType.URL
  commentId: F:SuperOffice.Data.ApplicationType.URL
  id: URL
  parent: SuperOffice.Data.ApplicationType
  langs:
  - csharp
  - vb
  name: URL
  nameWithType: ApplicationType.URL
  fullName: SuperOffice.Data.ApplicationType.URL
  type: Field
  source:
    path: SoCore
    isExternal: true
  assemblies:
  - SoCore
  namespace: SuperOffice.Data
  summary: "\n4: URL, to be shown using whatever installed browser, correponds to the &apos;URL&apos; radio button\n"
  syntax:
    content: public const ApplicationType URL
    return:
      type: SuperOffice.Data.ApplicationType
    content.vb: Public Const URL As ApplicationType
  modifiers.csharp:
  - public
  - const
  modifiers.vb:
  - Public
  - Const
- uid: SuperOffice.Data.ApplicationType.ExtURL
  commentId: F:SuperOffice.Data.ApplicationType.ExtURL
  id: ExtURL
  parent: SuperOffice.Data.ApplicationType
  langs:
  - csharp
  - vb
  name: ExtURL
  nameWithType: ApplicationType.ExtURL
  fullName: SuperOffice.Data.ApplicationType.ExtURL
  type: Field
  source:
    path: SoCore
    isExternal: true
  assemblies:
  - SoCore
  namespace: SuperOffice.Data
  summary: "\n5: URL, to be shown externally (start new browser window) (does not seem to be implemented in SOCRM)\n"
  syntax:
    content: public const ApplicationType ExtURL
    return:
      type: SuperOffice.Data.ApplicationType
    content.vb: Public Const ExtURL As ApplicationType
  modifiers.csharp:
  - public
  - const
  modifiers.vb:
  - Public
  - Const
references:
- uid: SuperOffice.Data
  commentId: N:SuperOffice.Data
  isExternal: true
  name: SuperOffice.Data
  nameWithType: SuperOffice.Data
  fullName: SuperOffice.Data
- uid: System.Object
  commentId: T:System.Object
  parent: System
  isExternal: true
  name: Object
  nameWithType: Object
  fullName: System.Object
- uid: SuperOffice.Data.ApplicationType.EnumUtil.MapEnums``2
  commentId: M:EnumUtil.MapEnums``2(``0)
  parent: EnumUtil
  definition: EnumUtil.MapEnums``2(``0)
  name: MapEnums<ApplicationType, To>()
  nameWithType: EnumUtil.MapEnums<ApplicationType, To>()
  fullName: EnumUtil.MapEnums<SuperOffice.Data.ApplicationType, To>()
  nameWithType.vb: EnumUtil.MapEnums(Of ApplicationType, To)()
  fullName.vb: EnumUtil.MapEnums(Of SuperOffice.Data.ApplicationType, To)()
  name.vb: MapEnums(Of ApplicationType, To)()
  spec.csharp:
  - uid: EnumUtil.MapEnums``2
    name: MapEnums<ApplicationType, To>
    nameWithType: EnumUtil.MapEnums<ApplicationType, To>
    fullName: EnumUtil.MapEnums<SuperOffice.Data.ApplicationType, To>
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: EnumUtil.MapEnums``2
    name: MapEnums(Of ApplicationType, To)
    nameWithType: EnumUtil.MapEnums(Of ApplicationType, To)
    fullName: EnumUtil.MapEnums(Of SuperOffice.Data.ApplicationType, To)
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: SuperOffice.Data.ApplicationType.SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums``2
  commentId: M:SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums``2(``0)
  parent: SuperOffice.ErpSync.ConnectorWS.Converters
  definition: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums``2(``0)
  name: MapEnums<ApplicationType, To>()
  nameWithType: Converters.MapEnums<ApplicationType, To>()
  fullName: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums<SuperOffice.Data.ApplicationType, To>()
  nameWithType.vb: Converters.MapEnums(Of ApplicationType, To)()
  fullName.vb: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums(Of SuperOffice.Data.ApplicationType, To)()
  name.vb: MapEnums(Of ApplicationType, To)()
  spec.csharp:
  - uid: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums``2
    name: MapEnums<ApplicationType, To>
    nameWithType: Converters.MapEnums<ApplicationType, To>
    fullName: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums<SuperOffice.Data.ApplicationType, To>
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums``2
    name: MapEnums(Of ApplicationType, To)
    nameWithType: Converters.MapEnums(Of ApplicationType, To)
    fullName: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums(Of SuperOffice.Data.ApplicationType, To)
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System
  commentId: N:System
  isExternal: true
  name: System
  nameWithType: System
  fullName: System
- uid: EnumUtil.MapEnums``2(``0)
  commentId: M:EnumUtil.MapEnums``2(``0)
  isExternal: true
  name: MapEnums<From, To>(From)
  nameWithType: EnumUtil.MapEnums<From, To>(From)
  fullName: EnumUtil.MapEnums<From, To>(From)
  nameWithType.vb: EnumUtil.MapEnums(Of From, To)(From)
  fullName.vb: EnumUtil.MapEnums(Of From, To)(From)
  name.vb: MapEnums(Of From, To)(From)
  spec.csharp:
  - uid: EnumUtil.MapEnums``2(``0)
    name: MapEnums<From, To>
    nameWithType: EnumUtil.MapEnums<From, To>
    fullName: EnumUtil.MapEnums<From, To>
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: From
    nameWithType: From
    fullName: From
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: EnumUtil.MapEnums``2(``0)
    name: MapEnums(Of From, To)
    nameWithType: EnumUtil.MapEnums(Of From, To)
    fullName: EnumUtil.MapEnums(Of From, To)
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: From
    nameWithType: From
    fullName: From
  - name: )
    nameWithType: )
    fullName: )
- uid: EnumUtil
  commentId: T:EnumUtil
  isExternal: true
  name: EnumUtil
  nameWithType: EnumUtil
  fullName: EnumUtil
- uid: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums``2(``0)
  commentId: M:SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums``2(``0)
  isExternal: true
  name: MapEnums<From, To>(From)
  nameWithType: Converters.MapEnums<From, To>(From)
  fullName: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums<From, To>(From)
  nameWithType.vb: Converters.MapEnums(Of From, To)(From)
  fullName.vb: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums(Of From, To)(From)
  name.vb: MapEnums(Of From, To)(From)
  spec.csharp:
  - uid: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums``2(``0)
    name: MapEnums<From, To>
    nameWithType: Converters.MapEnums<From, To>
    fullName: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums<From, To>
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: From
    nameWithType: From
    fullName: From
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums``2(``0)
    name: MapEnums(Of From, To)
    nameWithType: Converters.MapEnums(Of From, To)
    fullName: SuperOffice.ErpSync.ConnectorWS.Converters.MapEnums(Of From, To)
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: From
    nameWithType: From
    fullName: From
  - name: )
    nameWithType: )
    fullName: )
- uid: SuperOffice.ErpSync.ConnectorWS.Converters
  commentId: T:SuperOffice.ErpSync.ConnectorWS.Converters
  parent: SuperOffice.ErpSync.ConnectorWS
  isExternal: true
  name: Converters
  nameWithType: Converters
  fullName: SuperOffice.ErpSync.ConnectorWS.Converters
- uid: SuperOffice.ErpSync.ConnectorWS
  commentId: N:SuperOffice.ErpSync.ConnectorWS
  isExternal: true
  name: SuperOffice.ErpSync.ConnectorWS
  nameWithType: SuperOffice.ErpSync.ConnectorWS
  fullName: SuperOffice.ErpSync.ConnectorWS
- uid: System.Int32
  commentId: T:System.Int32
  parent: System
  isExternal: true
  name: Int32
  nameWithType: Int32
  fullName: System.Int32
- uid: SuperOffice.Data.ApplicationType
  commentId: T:SuperOffice.Data.ApplicationType
  parent: SuperOffice.Data
  isExternal: true
  name: ApplicationType
  nameWithType: ApplicationType
  fullName: SuperOffice.Data.ApplicationType
