# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pull requests and manual invocations for targeted branch  
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      target_branch:
        description: 'Branch to run the workflow on'
        required: false
        default: ''

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.target_branch || github.ref }}
      - name: Clone BuildDocs
        env:
          TOKEN: ${{ secrets.GH_PAT }}
        run: |
          git clone "https://${TOKEN}@github.com/SuperOfficeDocs/build-docs.git"
          ls -la
          cd build-docs/api-reference
          git pull --rebase
          ls
          git submodule update --init
          ls
      - name: Build Documentation
        uses: nikeee/docfx-action@master
        with:
          args: docfx-learn-light.json
      - name: Generate HTML sitemap for Learn 
        run: bash ./build/build-learn-html-sitemaps.sh          
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3.0.1
        with:
          # Upload entire repository
          path: '_site'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
