name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

# Automatically cancel in-progress actions on the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  linting:
    name: Check for markdown issues
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install markdownlint
        run: npm install -g markdownlint-cli
      - name: Run Markdownlint
        run: markdownlint -f -i *.cs *.xml *.yml -i '{**/api/reference/**,**/api/**/reference/**,**/database/tables/**,**/api/includes/**,**netserver-scripting/**,release-notes/**/api/**}' --disable MD013 MD028 MD041 MD055 MD056 MD057 -c ${GITHUB_WORKSPACE}/.markdownlint.yaml ${GITHUB_WORKSPACE}/docs ${GITHUB_WORKSPACE}/release-notes
      #  -f -i *.cs *.xml --disable MD013 MD041 -c .markdownlint.yaml PATH
